<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
    <include resource="appender/json-appender.xml" />

    <property name="LOG_FILE" value="logback.log"/>
    <property name="LOG_FILE_PROD" value="logback-prod.log"/>
    <property name="FILE_LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %thread %-5level %logger - %m%n"/>

    <!-- dev profile -->
    <springProfile name="dev">
        <appender name="ROLLING_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>logs/${LOG_FILE}</file>
            <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                <pattern>${FILE_LOG_PATTERN}</pattern>
            </encoder>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>${LOG_FILE}.%d{yyyy-MM-dd}</fileNamePattern>
                <maxHistory>1</maxHistory>
                <totalSizeCap>1GB</totalSizeCap>
            </rollingPolicy>
        </appender>

        <logger name="io.haedoang.springlogging.MyController" level="debug" additivity="false">
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="ROLLING_FILE" />
            <appender-ref ref="JSON" />
        </logger>

        <root level="debug">
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="ROLLING_FILE" />
        </root>
    </springProfile>

    <!-- prod profile -->
    <springProfile name="prod">
        <appender name="ROLLING_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>logs/${LOG_FILE_PROD}</file>
            <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                <pattern>${FILE_LOG_PATTERN}</pattern>
            </encoder>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>${LOG_FILE}.%d{yyyy-MM-dd}</fileNamePattern>
                <maxHistory>30</maxHistory>
                <totalSizeCap>5GB</totalSizeCap>
            </rollingPolicy>
        </appender>

        <logger name="io.haedoang.springlogging.MyController" level="warn" additivity="false">
            <appender-ref ref="ROLLING_FILE"/>
        </logger>

        <root level="info">
            <appender-ref ref="ROLLING_FILE"/>
        </root>
    </springProfile>
</configuration>
